.searchPart {
  text-align: center;
}

.searchInputPart {
  display: flex;
  justify-content: center;
}

.searchIcon {
  fill: blue;
}

.locationPart {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

h2 {
  text-align: center;
}